.newsPage {
  //   border: 1px red solid;
  width: 80%;
  margin: 1rem auto;
  background-color: #fff;
  height: 95vh;
  overflow: hidden;
  .articles {
    display: flex;

    .newsHeader {
      flex: 1.2;
    }
    .news-column {
      overflow-y: scroll;
      border: 1px lightgray solid;

      height: 400px;
      flex: 0.8;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  .youtubeNews {
    margin-top: 4rem;
    display: flex;
    overflow-x: scroll;
  }
}
