.countryPage {
  width: 80%;
  //   height: 80vh;
  //   border: 1px red solid;
  margin: 1rem auto;
  background-color: #fff;
  .select {
    display: flex;
    padding: 0.3rem;
    margin: 0.2rem;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: center;
    * {
      margin: 10px;
    }
  }
}
