.countryPage {
  width: 80%;
  //   height: 80vh;
  //   border: 1px red solid;
  margin: 1rem auto;
  background-color: #fff;
  .select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    * {
      margin: 10px;
    }
  }
}
